<div id="modalMockup" style="display: flex; justify-content: center; {#border;margin#} display: none;">
	<div style="width: 75%; display: flex; justify-content: space-around; padding: 0;">
		<div class="image">
			<img src="{{ asset('media/placeholder.jpg') }}" alt="placeholderPerformer">
		</div>
		<div style="margin-left: 20px;">
			<div class="title">
				<h2 style="text-align: center">Performer</h2>
			</div>
			<div class="text-align: center">
				<h3>Truc Bidule</h3>
			</div>
			<div style="text-decoration: none;">
				<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Découvrez</a>
			</div>
			<div style="display: flex; justify-content: center; margin-top: 50px;">
				<input type="button" value="Fermer" class="btn btn-dark" id="modalOff">
			</div>
		</div>
	</div>
</div>
