body {
    background-color: aliceblue;
    background-image: url("../media/concert.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
}
.accueilText
{
    text-align: center;
    color: white;
    font-size: 96px;
    padding: 25px;
}
.container-carteJours
{
    display: flex;
    justify-content: space-around;
    padding-top: 15%;
    opacity: 25%;
}
.card-title
{
    font-weight: bold;
}
.card-text
{
    color: black;
    font-weight: bold;
}

