body {
    background-image: url("../media/concert.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
}
.accueilText
{
    text-align: center;
    color: white;
    font-size: 96px;
    padding-top: 40px;
}
.container-carteJours
{
    display: flex;
    justify-content: space-around;
    padding-top: 10%;
    opacity: 30%;
}
.card-title
{
    font-weight: bold;
}
.card-text
{
    color: black;
    font-weight: bold;
}
.form-register
{
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
h1
{
    margin-top: 10%;
    color: white;
    text-align: center;
}

.btn-register
{
    border: 2px solid white;
    background-color: rgba(255, 228, 196, 0.521);
    padding: 5px;
    border-radius: 10px;

    margin-top: 10px;
}
.form-login
{
    color: white;
    margin: 10%;
}
.btn-connexion
{
    margin-top: 15px;
    border-color: white;
    background-color: rgba(0, 0, 0, 0.671);
    color: white;
    padding: 10px;
    border-radius: 10px;
}
.message-bienv
{
    color: white;
    text-align: center;

}
.message-alert
{
    display: flex;
    justify-content: center;
    margin: 5%;
    color: rgb(209, 102, 102);
    background-color: rgba(0, 0, 0, 0.315);
    border: rgb(211, 48, 48) solid 2px;
    border-radius: 15px;
    width: 15%;
}