body {
    background-color: aliceblue;
}
.background-Image
{
    z-index: 1;
}

.accueilText
{
    z-index: 2;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container-carteJours
{
    z-index: 3;
    display: flex;
    justify-content: space-around;
}

