body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
}

footer {
    text-align: center;
    padding: 10px;
    position: relative;
    z-index: 9;
    background-color: #333;
    /* left: 0;
    bottom: 0; */
    width: 100vw;
    height: 9vh;
}

footer::after{
    content: "Ce site a été créer dans le cadre de la formation CDA du centre de Saint-Laurent-Blangy";
    background-color: #ee7203;
    position: absolute;
    z-index: -1;
    height: fit-content;
    width: 100%;
    top: 65%;
    bottom: 0;
    left: 0;
}

footer p {
    color: white;
}