{% extends "base.html.twig" %}
{% block body %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}En-tête Simple{% endblock %}</title>
</body>
</html>
{% endblock %}