{% extends "base.html.twig" %}
{% block title %}Accueil
{% endblock %}
{% block body %}
	<h1 class="accueilText m-5">Waouh ! ça danse ici !!</h1>
	<div class="container-carteJours">
		<div class="card text-center mt-5" style="width: 15rem;">
			<div class="card-body">
				<h5 class="card-title">Jour 1</h5>
				<p class="card-text">Trailer des groupes ou chanteurs présents.</p>
				<a href="/jour" class="btn btn-dark">Voir</a>
			</div>
		</div>

		<div class="card text-center mt-5" style="width: 15rem;">
			<div class="card-body">
				<h5 class="card-title">Jour 2</h5>
				<p class="card-text">Trailer des groupes ou chanteurs présents.</p>
				<a href="/jour" class="btn btn-dark">Voir</a>
			</div>
		</div>

		<div class="card text-center mt-5" style="width: 15rem;">
			<div class="card-body">
				<h5 class="card-title">Jour 3</h5>
				<p class="card-text">Trailer des groupes ou chanteurs présents.</p>
				<a href="/jour" class="btn btn-dark">Voir</a>
			</div>
		</div>
	</div>
</body>{% endblock %}
