{% extends 'base.html.twig' %}

{% block title %}MountainSquare - tarifs
{% endblock %}


{% block body %}
	<link rel="stylesheet" href="{{ asset('styles/tarifs.css') }}">
	<body>
		<div class="container1">
			<h1>Tarifs :</h1>
		</div>
		<div class="container2">
			<div class="card">
				<div class="card-content">
					<h2>Pass full premium+ :</h2>
					<p>Les 3 jours compris, avec accés au 5 scènes.</p>
					<button>En savoir plus</button>
				</div>
			</div>
			<div class="card">
				<div class="card-content">
					<h2>Pass full days :</h2>
					<p>Les 3 jours compris, avec accés à une scène par jour.</p>
					<button>En savoir plus</button>
				</div>
			</div>
			<div class="card">
				<div class="card-content">
					<h2>Pass one day premium+ :</h2>
					<p>1 jour, avec accés à toutes les scènes.</p>
					<button>En savoir plus</button>
				</div>
			</div>
		</div>
		<div class="container3">
			<div class="card">
				<div class="card-content">
					<h2>Pass 2 days premium+ :</h2>
					<p>2 jours au choix, avec accés a toutes les scènes.</p>
					<button>En savoir plus</button>
				</div>
			</div>
			<div class="card">
				<div class="card-content">
					<h2>Pass 2 days :</h2>
					<p>2 jours au choix, avec accès à une scène.</p>
					<button>En savoir plus</button>
				</div>
			</div>
		</div>
	</body>
	{% include "parts/_footer.html.twig" %}
{% endblock %}
