<link rel="stylesheet" href="{{ asset('styles/footer.css') }}">
<body>
	<div class="content"></div>

	<footer>
		<p>MountainSquare</p>
		{# <div class="sofip">
					<p>ce site a été créer dans le cadre de la formation CDA du centre de Saint-Laurent-Blangy</p>
				</div> #}
	</footer>
</body>
