<link rel="stylesheet" href="{{ asset('styles/footer.css') }}">
<body>
    <div class="content">
    </div>

    <footer>
        <p>MountainSquare</p>
        <div>
            <p>ce site a été créer dans le cadre de la formation CDA / SOFIP</p>
        </div>
    </footer>
</body>