<link rel="stylesheet" href="{{ asset('styles/header.css') }}">

<body>
	<header>
		<div class="logo">
			<img src="{{ asset('media/logo_mountainsquare.png') }}" alt="Logo">
		</div>
		<div class="accueilText" style="align-items: center; padding: 0; margin: 0;">
			<h2>MountainSquare</h2>
		</div>
		<button class="menu-toggle" aria-label="Toggle menu">
			&#9776;
		</button>
		<nav>
			<ul>
				<li>
					<a href="/" ,"accueil">Accueil</a>
				</li>
				<li>
					<a href="/jour">Scènes</a>
				</li>
				<li>
					<a href="/formule">Tarifs</a>
				</li>

				{% if  not app.user %}
					<li>
						<a href="/login">Se connecter</a>
					</li>
					<li>
						<a href="/register">S'inscrire</a>
					</li>
				{% endif %}

				{% if app.user %}
					<li>
						<a href="/logout">Déconnexion</a>
					</li>
				{% endif %}

				{# {% if is_granted ("ROLE_ADMIN") %} #}
				<li>
					<a href="/admin">Admin</a>
				</li>
				{# {% endif %} #}


			</ul>
		</nav>
	</header>
	<script src="{{ asset('menu.js') }}"></script>
</body>
